<h1 class="error">Twilio Phone Login Demo</h1>
<!---728x90--->
<div class="section-two-grids">
    <!---728x90--->
    <div class="mid-class">
        <div class="img-right-side">
            <h3>Twilio <a target="__blank"href="https://www.twilio.com/docs/verify/api">Verify API</a>  Implementation!</h3>
            <p>This demo will Leverage Twilio Verify API to Trigger Otp on phone no,this otp will be further used to
                verify the phone no and redirect the user to dashboard by generating Jwt Token. </p>
            <img src="/images/b11.png" class="img-fluid" alt="">
        </div>
        <div class="txt-left-side">
            <h2> Login Here </h2>
             <span id="errorMsg" style="color: red;"></span><br><br>
            <form id="user-login">
                <div class="form-left-to-w3l">
                    <span class="fa fa-phone" aria-hidden="true"></span>
                    <input type="tel" id="phone" placeholder="Phone" required="">

                    <div class="clear"></div>
                </div>

                <div class="btnn">
                    <button class="btn btn-primary" type="submit">
                        Send Otp
                        <span id="spinner" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>

                    </button>
                </div>
            </form>
            <div id="spinner-login" class="spinner-grow text-danger" style="width: 7rem; height: 7rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="clear"></div>
        </div>

    </div>
</div>